@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<br />
<p>Developer @ViewData["Developer"]</p>
<p>@ViewData["email"]</p>

<address>
    <strong>
        More Information: 
        <br /> <strong> <a href="https://twitter.com/marcosvpantoja">twitter.com/marcosvpantoja</a></strong>
    </strong>
</address>

